body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
.container{
    padding-top: 20px;
    margin: 250px auto;
    padding: 30px;
    width: 350px;
    height: 420px;
    /* border: .1px solid black; */
    outline: 1px solid rgb(202, 202, 202);
    border-radius: 10px;
    border-width: 1px;
    /* box-shadow: 1px 1px 2px; */

}
.google{
    display: block;
    width:100px ;
    margin-left: auto;
    margin-right: auto;
}
h2{
    text-align: center;
}
.input{
    display: block;
    height: 50px;
    width: 80%;
    margin: auto;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 4px;
}
.input:focus{
    outline: 1px solid rgb(0, 140, 255);
}
.forgot{
    display: block;
    margin-top: 20px;
    margin-left: .9cm; 
}
p{
    text-align:start;
    float: left;
    margin-left: .9cm;
    width: 80%;
    color: rgb(69, 69, 69);
}
.learn{
    float: left;

    margin-left: .9cm;
}
.last{
    padding-top: 50px;
    clear: both;
    display: block;
    width: 80%;
    /* border: 2px solid black; */
    margin-left: .9cm;
}
.create{
    padding-top: 10px;
    float: left;

}
button{
    float: right;
    width: 2.3cm;
    height: 1cm;
    background-color: rgb(0, 140, 255);
    border-radius: 5px;
    color: white;
    border: none;
}
a{
    text-decoration: none;
    color: rgb(0, 123, 255);
}
button:hover{
    background-color: rgb(3, 91, 164);
}