*{
    box-sizing: 0;
}
body{
    box-sizing: 0px;
    margin: 0px;
    padding: 0px;
    font-family: 'Kanit', sans-serif;
}

.container{
    height: 50%;
    width: 45%;
    background-color: rgb(228, 231, 231);
    display: block;
    /* margin: 3%; */
    margin-top: 2cm;
    margin-left: 3%;
    border-radius: 20px;
    text-align: center;
}
#whatsapp{
    width: 2cm;
}
.div:hover{
    box-shadow: 10px 10px 10px;
}
.pop{
    padding-left: 2%;
    font-size: 25px;
    color: rgb(0, 0, 0);
    position: absolute;
    background-color: rgb(114, 164, 187);
    width: 45%;
    margin-left: 50%;
    margin-top: 2cm;
    overflow: scroll;
    overflow-x: hidden;
    top: 0px;
    max-height: 85%;
    border-radius: 20px;
    transition: .3s;
}
.pop:hover{
    transform: scale(1.01);
}
.detail{
    animation-name: detail;
}
@keyframes detail {
    0%{color: chartreuse;}
    50%{color: deeppink;font-size: 40px;}
    100%{color:chartreuse}
}

.pop::-webkit-scrollbar {
    display: none;
}
.body::-webkit-scrollbar {
    display: none;
}
.space{
    position: absolute;
    margin-left: 50%;
    /* float: left; */
    left: 0px;
}
/* @media screen and (max-width: 1005px) {
    body{
        font-family: 'Courier New', Courier, monospace;
        background-color: aqua;
    }
    .icons{
        position:relative;
        top: .5cm;
        margin-left: 70%;
    }
} */
.icons{
    position:absolute;
    top:.8cm;
    margin-left: 75%;
}
button{
    background-color: transparent;
    border: 0px;
}
#trash{
    color: rgb(0, 0, 0);
    transition: .2s;
}
#edit{
    color: rgb(0, 0, 0);
    transition: .2s;
}
#add{
    color: rgb(0, 0, 0);
    transition: .2s;
}
#edit:hover {
    color: rgb(232, 239, 33);
    transform: scale(1.3);
}
#trash:hover {
    color: rgb(255, 0, 0);
    transform: scale(1.3);
}
#add:hover {
    color: rgb(116, 233, 66);
    transform: scale(1.3);
}
hr{
    background-color: black;
    height: 3px;
    width: 90%;
    border: none;
}
.savecon{
    font-size: 20px;
    color: rgb(0, 0, 0);
    width: 24%;
    height: 40px;
    margin: 1cm 38%;
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgb(94, 196, 124);
    transition: .3s;
    font-family: 'Kanit', sans-serif;
    vertical-align: middle;
}
.savecon:hover{
    box-shadow: 3px 3px 10px;
    transform: scale(1.1);
    background-color: rgb(139, 241, 207);  
}
